<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.DAO.ArticleDao">
    <select id="queryPageALL" resultType="Article">
        select id,title,author,content,guru_id,create_date,status,other from Article limit #{start},#{end}
    </select>
    <select id="queryfirstAll" resultType="com.baizhi.entity.firstpager.AlbunOne">
         select title,author,content as brief,create_date from Article
    </select>

    <select id="countById" resultType="java.lang.Integer">
        select count(*) from  article
    </select>

    <!-- 动态删除-->
    <delete id="DeleteById" >
        delete from  article where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <insert id="insertArticle">
        insert into article (id,title,author,content,guru_id,create_date,status) values (#{id},#{title},#{author},#{content},#{guru_id},#{create_date},#{status})
    </insert>
    <!-- 动态修改-->

    <update id="updateArticle" parameterType="Article">
        update article
        <set>
            <if test="title!=null">
                title=#{title},
            </if>
            <if test="author!=null">
                author=#{author},
            </if>
            <if test="create_date!=null">
                create_date=#{create_date},
            </if>
            <if test="content!=null">
                content=#{content},
            </if>
            <if test="status!=null">
                status=#{status}
            </if>

        </set>
        where id=#{id}
    </update>
</mapper>