<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.DAO.CounterMapper" >
  <resultMap id="BaseResultMap" type="com.baizhi.entity.Counter" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="COUNT" property="count" jdbcType="VARCHAR" />
    <result column="LAST_DATE" property="lastDate" jdbcType="DATE" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="TASK_ID" property="taskId" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="OTHER" property="other" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, TITLE, COUNT, LAST_DATE, USER_ID, TASK_ID, STATUS, OTHER
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from counter
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from counter
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.baizhi.entity.Counter" >
    insert into counter (ID, TITLE, COUNT, 
      LAST_DATE, USER_ID, TASK_ID, 
      STATUS, OTHER)
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{count,jdbcType=VARCHAR}, 
      #{lastDate,jdbcType=DATE}, #{userId,jdbcType=VARCHAR}, #{taskId,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{other,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.baizhi.entity.Counter" >
    insert into counter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="count != null" >
        COUNT,
      </if>
      <if test="lastDate != null" >
        LAST_DATE,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="taskId != null" >
        TASK_ID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="other != null" >
        OTHER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        #{count,jdbcType=VARCHAR},
      </if>
      <if test="lastDate != null" >
        #{lastDate,jdbcType=DATE},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null" >
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="other != null" >
        #{other,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.baizhi.entity.Counter" >
    update counter
    <set >
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        COUNT = #{count,jdbcType=VARCHAR},
      </if>
      <if test="lastDate != null" >
        LAST_DATE = #{lastDate,jdbcType=DATE},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null" >
        TASK_ID = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="other != null" >
        OTHER = #{other,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baizhi.entity.Counter" >
    update counter
    set TITLE = #{title,jdbcType=VARCHAR},
      COUNT = #{count,jdbcType=VARCHAR},
      LAST_DATE = #{lastDate,jdbcType=DATE},
      USER_ID = #{userId,jdbcType=VARCHAR},
      TASK_ID = #{taskId,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      OTHER = #{other,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectByPrimaryUserId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from counter
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </select>

  <select id="selectByPrimaryAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from counter
  </select>
</mapper>